.input-area {
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
}

textarea {
  width: 100%;
  height: 16em;
}

/* also check out the similar https://websemantics.uk/tools/svg-to-background-image-conversion/ which is pretty cool and supplies some context too */